.lista {
  padding-top: 60px;
  padding-bottom: 60px;
}

.lista h2 {
  margin-bottom: 20px;
}

.lista ul {
  display: flex;
  gap: 40px;
  padding: 0px 20px 20px 20px;
  max-width: 1400px;
  margin: auto;
  overflow-x: auto;
}

#bicicleta .lista ul {
  padding: 0px 0px 20px 0px;
}

.lista li {
  flex: 1;
  min-width: 280px;
}

.lista a {
  display: block;
}

.lista img {
  margin-bottom: 16px;
}

.lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--cor-p1);
}

.lista a:hover h3::before {
  width: 24px;
}

.lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .lista {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .lista ul {
    gap: 20px;
  }
}
